@font-face {
    font-family: mynewestFont;
    src: url(../font/taamula-bold-aaa.otf);
}
.containerBox{
    height: 100vh;
    width: cover;
    background-color: black;
    overflow: hidden;
}

.containerCategory{
    background-size: cover;
    background-position: top;

}
.categorycontentbackground{
    background-color: black;
    background-size: cover;
    background-position: top;
}

.categorycontentbackgroundimage{
    left: 0;
    width: 55%;
    height: 100%;
    background-position: center 10%;
    background-size: cover;
    z-index: 0;
    position: relative;
    position: absolute;
}

.categorycontentbackgroundshadow{
    right: 0;
    z-index: 10;
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left,rgb(0, 0, 0),transparent);
    position: absolute;
}



.catTextBox{
    color: #fff;
    position: relative;
    right: 0;
    float: right;
    text-align: right;
    right: 5vw;
    width: 62%;
    height: 84vh;
    display: inline-grid;
}

.catText{
    backface-visibility: hidden;
    margin-bottom: 50px;
    margin: auto;
    width: 100%;
}

.catTextPrimary{
    display: block;
    font-size: calc(45px + 4vw);
    font-weight: 400;
    letter-spacing: 5px;
    font-family: mynewestFont;
}

.catTextSub{
    display: block;
    font-size: calc(7px + 1vw);
    font-weight: 400;
    letter-spacing: 1.2px;
    max-height: 20vh;
    margin-bottom: 5px;
    text-align: right;
    overflow: auto;
    direction: rtl;

}

.galleryBox{
    width: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
