@font-face {
  font-family: mynewestFont;
  src: url(../font/taamula-bold-aaa.otf);
}

.rcorners {
  position: relative;
  cursor: pointer;
  width: 15vw;
  height: 12vw;
  font-size: calc(7px + 1vw);
  padding: 5px;
  float: right;
  
}
img.imgC{
  height: 100%;
  width: 100%;  
}
div.classText{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 60%;
  padding: 2%;
  border-radius: 3px;
  background-color: black;
  color: white;
  opacity: 0.6;
}


