div.manageAllCategory{

    display: block;
    border: 3px solid rgba(0, 0, 0, 0);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    width: 80%;
}

div.ClassWaitToConfirme{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    width: 80%;
    margin: auto;
}

div.messages{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    display:block;
    margin: auto;
    width: 80%;
    
}

div.message{
    padding: 10px;
    width: 100%;
    margin: 5px;
    border: 1px solid black;
    border-style: dashed;

}

div.manageCat {
    float: right;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
}

img.imgmanageCat{
    width: 100%;
    height: 100%;
}


.managenav{
    height: 15%;
    background-color: rgb(255, 255, 255);
    border: 3px solid none;
    padding: 5px;
    

}
img.logo{
  height: 100%;
  width: auto;
  padding: 5px;
}

div.managenavbarinline{
  display: inline-block;
  float: right;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 15px;
  margin: auto;
}
div.managenavText{
    float: right;
  display: inline-block;
  vertical-align: middle;
  font-family: "Arial Verdana", Sans-serif;
  font-weight: bold;
  color: rgb(88, 86, 86);
  cursor: pointer;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  border-right: 1px solid black;
  
}
.linkto{
  text-decoration: none;
}