.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
  min-width: 100px;
  text-align: right;
  height: 70%;

  img.classImg {
    height: 100%;
    width: 100%;
    vertical-align: top;
    padding: 1%;
    margin: auto;
  }
}

div.gallerynetflix{
  position: relative;
  cursor: pointer;
  width: 99%;
  height: 100%;
  font-size: 70%;
}
div.gallerynetflixCategory{
  position: relative;
  cursor: pointer;
  width: 99%;
  height: 80%;
  font-size: 70%;
}

div.textdivnetflix{
  position: absolute;
  bottom: 5%;
  right: 0;
  padding: 2%;
  border-radius: 3px;
  background-color: black;
  color: white;
  opacity: 0.6;
}

div.textdivnetflixCategory{
  font-size: 1.5rem;
  position: absolute;
  bottom: 5%;
  right: 0;
  padding: 2%;
  border-radius: 3px;
  background-color: black;
  color: white;
  opacity: 0.6;
}
