@font-face {
    font-family: mynewFont;
    src: url(../font/SecularOne-Regular.ttf);
}

.contCB{
    display: none;
}

.contBG{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    position: fixed;
    background-image: radial-gradient(#FF0060, #ed6ffd);
    left: 5rem;
    bottom: 5rem;
    z-index: 200;
    transition: transform .8s;

}

.headLine{
    color: #fff;
    text-align: center;
    font-family: mynewFont;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: -2px;

}

.contButt{
    background-color: #fff;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    left: 5rem;
    bottom: 5rem;
    z-index: 202;
    position: fixed;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, .5);
    text-align: center;
    cursor: pointer;

}

.contNav{
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 201;
    opacity: 0;
    width: 0; 
    transition: all .8s;

}

.contBox{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);  

}

.formCont{
    font-family: mynewFont;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 4px solid #fff;
    width: 20rem;
    margin: 10px;

}

.btnForm{
    background-color:#258916;
    color: #fff;
    width: 24.5rem;
    border: 4px solid #fff;
    margin: 10px;
    ont-family: mynewFont;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
}

::placeholder{
    color: #fff;
    text-align: right;
}

.contCB:checked ~ .contBG{
    transform: scale(100);
}



.contCB:checked ~ .contNav{
    width: 100%;
    opacity: 1;
}

.navIconUP{
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: relative;
    margin-top: 1.5rem;
    transition: all .2s;
}

.navIconDown{
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: relative;
    margin-top: 0.7rem;
    transition: all .2s;
}

.navIconRight{
    width: 2rem;
    height: 2px;
    background-color: #333;
    position: absolute;
    margin: -1rem;
    margin-top: -.3rem;
    transform: rotate(90deg);
    transition: all .2s;
}

.navIconLeft{
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: absolute;
    margin: -4rem;
    margin-top: -.3rem;
    transform: rotate(90deg);
    transition: all .2s;
}
.navIconLeshRight{
    width: 1.41421rem;
    height: 2px;
    background-color: #333;
    position: absolute;
    margin: -1.7rem;
    margin-top: -.4rem;
    transform: rotate(-45deg);
    transition: all .2s;
}

.navIconLeshLeft{
    width: 1.41421rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: absolute;
    margin: -2.7rem;
    margin-top: -.4rem;
    transform: rotate(45deg);
    transition: all .2s;
}



.contButt:hover .navIconUP{
    background-color: transparent;
}

.contButt:hover .navIconDown{
    margin-top: 0.5rem;
}

.contButt:hover .navIconRight{
    margin-top: -0.6rem;
    transform: rotate(90deg);
}

.contButt:hover .navIconLeft{
    margin-top: -0.6rem;
    transform: rotate(90deg);
}
.contButt:hover .navIconLeshRight{
    margin-top: -2.2rem;
    transform: rotate(45deg);
}

.contButt:hover .navIconLeshLeft{
    margin-top: -2.2rem;
    transform: rotate(-45deg);
}

.contCB:checked + .contButt .navIconUP{
    margin-top: 3rem;
    background-color: #333;
    transform: rotate(135deg);
}

.contCB:checked + .contButt .navIconDown{
    
    margin-top: -10rem;
    margin-right: 2rem;
    transform: rotate(-135deg);

}
.contCB:checked + .contButt .navIconRight{
    background-color: transparent;
}
.contCB:checked + .contButt .navIconLeft{
    background-color: transparent;
}
.contCB:checked + .contButt .navIconLeshRight{
    background-color: transparent;
}
.contCB:checked + .contButt .navIconLeshLeft{
    background-color: transparent;
}





