@font-face {
    font-family: mynewFont;
    src: url(../font/taamula-bold-aaa.otf);
  }

.header{
    font-family: mynewFont;
    position: relative;
    width: 100%;
    height: 90vh;
}

.textBox{
    color: #fff;
    position: relative;
    text-align: center; 
    width: 100%;
    position: relative;
    top:27%;
    margin: auto;

}

.headerText{
    backface-visibility: hidden;
    margin-bottom: 120px;
    width: 100%;
    margin: auto; 
}

.headerTextPrimary{
    display: block;
    font-size: 7vh;
    font-weight: 400;
    letter-spacing: 7px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.headerTextSub{
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 7px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.btns{
    width: 100%;
    margin:auto; 
}



.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, .7);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0, 0, 0, .7);
}

button.greenBtn{
    background-color:#258916;
    color: #fff;
    text-decoration: none;
    padding: 2% 3%;
    font-size: 180%;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    font-family: mynewFont;
    border: none;
    cursor: pointer;
    margin: 3%;
    margin-bottom: 5%;
    outline:none;
}

button.pinkBtn{
    border: none;
    background-color: #E80A79;
    color: #fff;
    text-decoration: none;
    padding: 2% 3%;
    font-size: 180%;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    font-family: mynewFont;
    cursor: pointer;
    margin: 3%;
    margin-bottom: 5%;
    outline:none;
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px); 
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px); 
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
