@font-face {
  font-family: myFont;
  src: url(../font/SecularOne-Regular.ttf);
}

.style {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  color: rgb(80, 82, 82);
}

.ionright {
  position: relative;
  text-align: right;
  float: right;
  right: 0;
  width: 100%;
}

.ionrightinner {
  position: absolute;
  text-align: right;
  float: right;
  right: 0;
  z-index: 1;
  margin-right: 6px;
}
.ionContent {
  --ion-background-color: rgb(102, 102, 102, 1);
}
.ionContent h1 {
  font-family: myFont;
  color: #e80a79;
  margin-top: 0;
}
.fancy-button {
  --background: #000000;
  color: #ffffff;
  font-style: italic;
  font-size: 15px;
}

ion-item {
  --ion-background-color: rgb(102, 102, 102, 0.6);
  color: #fff;
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Roboto", sans-serif;
}

/* WEB */

.formPage {
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: right 80%;
  background-size: cover;
  z-index: 0;
  position: absolute;
}

.formEx {
  padding: 4vh;
  background-color: rgb(0, 0, 0, 0.4);
}

.labl {
  color: #fff;
  font-family: myFont;
  font-size: 18px;
  float: right;
}

input.inpt {
  position: relative;
  width: 65%;
  cursor: pointer;
  background-color: rgb(102, 102, 102, 0.6);
  border-radius: 2px;
}

.inptSel {
  width: 65%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 0 white;
  border-radius: 2px;
}

.webFormSelector {
  position: relative;
  width: 65%;
  cursor: pointer;
  background-color: rgb(102, 102, 102, 0.6);
  border-radius: 2px;
}

.formEx input[type="submit"] {
  text-align: center;
  background-color: #258916;
}
.formEx input[type="submit"]:focus {
  text-align: center;
  background-color: #258916;
}

.formEx select {
  width: 65%;
  cursor: pointer;
  background-color: rgb(102, 102, 102, 0.6);
  border-radius: 2px;
  color: #fff;
  text-align: right;
}

.formEx textarea {
  width: 100%;
  cursor: pointer;
  background-color: rgb(102, 102, 102, 0.6);
  border-radius: 2px;
}

.headLineForm {
  color: #fff;
  direction: rtl;
  font-family: myFont;
  margin-top: 5px;
}

.fillDetLab {
  position: relative;
  color: #e80a79;
  direction: rtl;
  font-family: mynewFont;
  font-size: 2rem;
  margin-top: 0;
}

.fancyButton {
  width: 100%;
  margin: auto;
}

.fancyButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.7);
}

.fancyButton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.7);
}

.fancyButton.pinkBtn {
  background-color: #258916;
  color: #fff;
  text-decoration: none;
  padding: 5% 20%;
  font-size: 2rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  font-family: mynewFont;
  border: none;
  cursor: pointer;
  margin: 3%;
  margin-bottom: 5%;
  outline: none;
}

.jBtnCont {
  align-items: center;
  width: 70%;
  position: relative;
  margin-left: 6rem;
}

.pinkBtnWebForm {
  border: none;
  background-color: #e80a79;
  color: #fff;
  text-decoration: none;
  padding: 2% 3%;
  font-size: 180%;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  font-family: mynewFont;
  cursor: pointer;
  margin: 3%;
  margin-bottom: 5%;
  outline: none;
}

.greenBtnWebForm {
  z-index: 10;
  text-align: center;
  background-color: #258916;
  color: #fff;
  text-decoration: none;
  padding: 2% 3%;
  font-size: 180%;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  font-family: mynewFont;
  border: none;
  cursor: pointer;
  margin: 3%;
  margin-bottom: 5%;
  outline: none;
}

.imgWebForm {
  width: 100%;
  height: 100%;
}

div.imgusercWebForm {
  float: right;
  width: 40%;
  height: 40%;
  min-width: 150px;
  min-height: 100px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

div.useretWebForm {
  font-family: mynewFont;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.247);
  top: 50%;
  color: white;
  font-size: 20px;
  border-radius: 4px;
}
