.style {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  color: rgb(80, 82, 82);
}
.detailss {
  border: 2px solid gray;
  padding: 1px;
  width: 50%;
}
