.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
}
.details {
  border: 2px solid gray;
  padding: 1px;
  width: 50%;
}
