div.completeReg{
    padding: 16px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    max-width: 35%; 
}

div.completeReg p{
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}


.completeReg input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 8px 0;
    display: block;
    border: none;
    background: #f1f1f1;
    text-align: right;
    
  }

  img.user_e{
    height: 45px;
    width: 45px;
    opacity: 0.70;
    overflow: hidden;
    border-radius: 50%;
    
  }

  div.imguserc{
    float: right;
    height: 45px;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  div.useret{
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
    top: 50%;
    color: white;
    font-size: 10px;
    border-radius: 4px;
  }
.completeReg  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    text-align: right;
  }

  hr {
    border: 1px solid #f1f1f1;
  }
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1.5;
    padding: 8px 10px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }