input[type=text].inputSearch {
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 2px solid #fff;
  background: none;
  text-align: right;
  border-radius: 100px;
  margin-top:5px; 
  font-family: mynewFont, Sans-serif;
  font-size: 1rem;
  padding: 8px 10px;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 2rem;
}

input[type=text].inputSearch:focus {
  background-color: rgb(75, 74, 74);
  outline: none;
  text-align: right;
}
  div.search{
    float: right;
    display: inline-block;
    position: relative;
    width: 20vw;
    top:40%;
    padding-top:3vw; 
    
  }
div.dropDownn{
  position: absolute;
  background-color:  rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  display: block;
  z-index: 1;
  font-family: "Arial Verdana", Sans-serif;
  font-weight: bold;
  color: rgb(187, 187, 187);
  cursor: pointer;
  text-align: right;
  width: 180%;
  right: -55px;
  border-radius: 8px;
}
div.classFound{
  background-color:  rgb(255, 255, 255);
  padding: 6px;
}
  
  
  