input[type=text].inputSearch {
    width: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #f1f1f17c;
    text-align: right;
    border-radius: 8px;
    margin-top:5px; 
    font-family: "Arial Verdana", Sans-serif;
    padding: 8px 10px;
    color: rgb(187, 187, 187);
    margin-bottom: 5px;
  }
  
  input[type=text].inputSearch:focus {
    background-color: #ddd;
    outline: none;
    text-align: right;
  }
  div.search{
    padding-top:17px; 
    float: right;
    display: inline-block;
    position: relative;
    width: 150px;
    
  }
div.dropDownn{
  position: absolute;
  background-color:  rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  display: block;
  z-index: 1;
  font-family: "Arial Verdana", Sans-serif;
  font-weight: bold;
  color: rgb(187, 187, 187);
  cursor: pointer;
  text-align: right;
  width: 300%;
  right: -55px;
  border-radius: 8px;
}
div.classFound{
  background-color:  rgb(255, 255, 255);
  padding: 6px;
}
  
  
  